*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}

main{
  max-width: 600px;
  margin: 0 auto;
}

.crud{
  margin-top: 150px;
  background-color: rgb(252, 230, 150);
}

.title{
  text-align: center;
  padding: 20px 0;
  color: rgb(255, 27, 187);
}

.input_holder{
  gap: 20px;
}

input{
  margin-left: 80px;
  padding: 10px;
  width: 350px;
  background-color: yellow;
}
button{
  padding: 7px;
  margin-left: 20px;
  font-size: large;
  background-color: rgb(100, 100, 255);
  color: white;
}

ul{
  list-style: none;
  margin-top: 20px;
}

li{
  background-color:rgb(255, 200, 0);
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.icon_holder{
  display: flex;
  gap: 10px;
}

.icon{
  cursor: pointer;
}